:root {
    /* fonts */
    --font-title: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-body: Arial, Helvetica, sans-serif;

    /* colors */
    --main-accent: #2f3640;
    --main-bg: #f5f6fa;
    --sports-bg: #00ff001a;
    --sports-accent: #009432;
    --economy-bg: #95c0d7;
    --economy-accent: #1aa0ff;
    --eichi-bg: #f2f2f2;
    --eichi-accent: #FFF3B8; /* basically, im attempting to imitate enstars design identity */
    --eichi-hover: #78d6e0;
    --es-official-rb: linear-gradient(
        58deg, #c5c7ff 0%,
        #d0e8d9 20%, 
        #fffcad 40%, 
        #ffd9b6 60%,
        #ffd7ff 80%,
        #caaaff 100%);
    --nrc-bg: #000;
    --nrc-accent: #b5a382;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg);
}

body > header {
    background-color: var(--main-accent);
    padding: 16px 0;
    color: var(--main-bg);
    font-family: var(--font-title);
}

header li {
    display: inline;
    font-family: var(--font-body);
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: var(--main-bg);
    text-decoration: none;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles article img {
    width: 100%;
    margin-bottom: 5px;
}

.articles article {
    width: 30%;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: var(--main-accent);
    color: var(--main-bg);
    padding: 8px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p, .articles article a {
    font-family: var(--font-body);
}

.articles article p {
    color: var(--main-accent);
}

.articles article h3 {
    font-size: 24px;
    font-family: var(--font-title);
}

.articles article .creation-date {
    font-family: var(--font-body);
    padding: 3px;
    border-radius: 5%;
    background-color: #65656546;
}

.articles .spacer {
    width: 70%;
    margin: 15px auto;
}

section {
    padding: 16px 0;
}

section h2, .articles article {
    margin-bottom: 16px;
}

section h2 {
    font-size: 32px;
    font-family: var(--font-title);
}

.spacer {
    height: .1px;
    background-color: #2f3640a3;
}

#sports {
    background-color: var(--sports-bg);
}

#sports .articles article a {
    background-color: var(--sports-accent);
}

#economy {
    background-color: var(--economy-bg);
}

#economy .articles article a {
    background-color: var(--economy-accent);
}

#eichi {
    background-color: var(--eichi-bg);
}

#eichi .articles article a {
    text-transform: lowercase;
    color: var(--main-accent);
    background-color: var(--eichi-accent);
    box-shadow: 3px 4px #000000d1;
    border-color: var(--main-accent);
}

#eichi .articles article a:hover {
    font-style: italic;
    text-decoration: none;
    background: var(--es-official-rb);
}

#nrc {
    background-image: url(./imagens/article.png);
    background-position: top;
    background-repeat: repeat;
}

#nrc article {
    background-color: #fff;
    border: 5px var(--nrc-bg) solid;
    box-shadow: 0 6px 20px 2px #00000071;
}

#nrc .articles article a {
    margin: 10px 0px 4px 4px;
    background-color: var(--nrc-accent);
}

#nrc .articles article a:hover {
    background-color: var(--nrc-bg);
    text-decoration: none;
}

#nrc .articles article h3, #nrc .articles article p {
    padding: 0 10px;
}