@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --clr-accent: #5b21b6; /* tailwind css: violet-800*/
    --clr-acc2: #2e1065; /* tailwind css: violet-950*/
    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --violet-50: #f5f3ff;
    --clr-conf: #22c55e;
    --clr-neg: #ef4444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 960px;
    margin: 100px auto;
}

hr {
    width: 60%;
    margin: 30px auto;
    color: var(--clr-acc2);
    opacity: .40;
}